
.user-component {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    margin-bottom: 20px;
    align-items: center;
 }
 .user-component__column {
    display: flex;
    align-items: center;
 }
.user-component__avatar {
    height: 70px;
    width: 70px;
    border-radius: 30px;
    margin-right: 18px;
 }
 .user-component__avatar-xl {
    height: 80px;
    width: 80px;
    border-radius: 35px;
 }  
 .user-component__avatar-xs {
    height: 60px;
    width: 60px;
    border-radius: 25px;
 }
 .user-component__user {
    font-size: 23px;
    font-weight: 500;
    color: var(--black);
 }
 .user-component__user-nobold {
    font-weight: 300;
 }
 .user__subtitle {
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
}
.user-component__column:nth-child(2) {
  position: relative;

}
.user-component__time {
   color: rgba(0, 0, 0, 0.3);
}
.user__subtitle i {
color: tomato;
margin-left: 5px;
}
.user-component__column-sub i {
   font-size: 28px;
   color: var(--black);
}