.badge {
    background-color: rgb(255, 77, 17);
    color: #f9f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    font-weight: 600;
}
.chat-badge {
    position: absolute;
    top: 20px;
    left: 7px;
    margin-top: 3px;
}