.nav {
background-color: #f9f9fa;
padding: 20px 30px;
position: fixed;
bottom: 0;
width: 100%;
border-top: 1px solid rgba(136, 136, 136, 0.4);
box-sizing: border-box;

}
.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__link {
    color:#2e3b3e;
    position: relative;
}
.nav__notification {
    position: absolute;
    left: 20px;
    bottom: 10px;
}
.nav__point {
    background-color: rgb(255, 77, 17);
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    position: absolute;
    left: 27px;
}